/* TSOS.css */

body {
  background: #909193 url(distrib/images/phendranaDrifts.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 140px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: #85D5FA;
}

h1 {
  color: #85D5FA;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: #85D5FA;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  color: #85D5FA;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

label {
  padding: 2px;
  color: #85D5FA;
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
}

#display {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  cursor: default;
}

#taHostLog {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  color: #85D5FA;
}

#cpuTable {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  color: #85D5FA;
}

#memoryTable {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  color: #85D5FA;
}

#pcbTable {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  color: #85D5FA;
}

#taProgramInput {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  color: #85D5FA;
}

#rightCol {
  padding-left: 50px;
  padding-top: 30px;
}


div.buttonBar {
  margin:4px;
  float:right;
  width:500px;
  height:20px;
}

div.console {
  margin:10px;
  width:500px;
  height:500px;
  float:right;
}

div.pcb {
  margin:4px;
  width:500px;
  height:150px;
  float:right;
}

div.log {
  padding-top: 32px;
}

div.cpu {
  width:500px;
  height:100px;
  float:left;

}

div.memory {
  width:500px;
  height:180px;
  padding-top: 15px;
  float:left;
}

div.memoryTable {
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #85D5FA;
  float:left;
  width:400px;
  height:150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.program {
  float:left;
  width:600px;
  height:160px;
  padding-top: 22px;

}

.normal_button {
  width: 100px;
}

.footerText {
  color: #85D5FA;;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
  padding-top: 20px;
}
